<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ohana Rideshare</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <!-- Header -->
        <div class="d-flex justify-content-end">
            <div class="d-flex">
                <h2 class="ms-5"><a href="/dashboard">Home</a></h2>
                <h2 class="ms-5"><a href="/users/logout">Logout</a></h2>
            </div>
        </div>
        <!-- End Header -->
        <div class="card my-3 p-3 shadow">
            <h1>Ready for your trip to {{ride.destination}}?</h1>
            <p><span class="fw-bold">Who's driving</span> {{ride.driver.first_name}}</p>
            <p><span class="fw-bold">Who's coming along?</span> {{ride.creator.first_name}}</p>
            <p><span class="fw-bold">Date</span> {{ride.date.strftime('%b %d')}}</p>
            <p><span class="fw-bold">Details</span> {{ride.details}}</p>
            <div class="d-flex flex-row">
                <a href="/rides/edit/{{ride.id}}" class="btn btn-primary">Edit</a>
                {% if ride.user_id == session['user_id'] %}
                <a href="/rides/delete/{{ride.id}}"
                    class="btn btn-danger ms-3">Delete</a>
                {% endif %}
            </div>
        </div>

        <hr>

        <!-- Messages -->
        <h2 class="text-secondary my-3">Ride messages:</h2>
        {% for message in ride.messages %}
        <p>
            <span class="fw-bold">
                {% if message.user_id == session['user_id'] %}
                You:
                {% else %}
                {{message.creator.first_name}}:
                {% endif %}
            </span>
            <span class="ms-3">
                {{message.content}}
            </span>
        </p>
        {% endfor %}
        {% if ride.user_id == session['user_id'] or ride.driver_id == session['user_id'] %}
        <form action="/messages/add_message" method="post">
            <input type="hidden" name="ride_id" value="{{ride.id}}">
            <input type="text" name="content" class="form-control my-3">
            <input type="submit" value="Send message" class="btn btn-secondary">
        </form>
        {% endif %}
        <!-- End Messages -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>