* {
    margin: 0;
    padding: 0;
}

h1 {
    color: rebeccapurple;
    font-weight: bold;
    text-align: center;
}

p {
    color: darkblue;
    text-align: center;
}

.box {
    border: 5px solid darkblue;
    margin: 25px;
    padding: 25px;
}