<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists</title>
</head>

<body>
    <h1>Random Numbers</h1>
    {% for num in random_numbers %}
    <p>{{ num }}</p>
    {% endfor %}
    <h1>Students</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
        </tr>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student['name'] }}</td>
                    <td>{{ student['age'] }}</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>

</body>

</html>