* {
    margin: 0;
    padding: 0;
}

body, .loginbtn, .likebtn, .addbtn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.searchbox, .defcard, .card, .likebtn, .loginbtn, .addbtn {
    border: 3px solid black;
}

.loginbtn, .likebtn, .addbtn {
    box-shadow: 3px 3px black;
    padding: 5px 20px;    
    margin: 10px 0 0 0;
}


.largetext, .loginbtn, .bold {
    font-weight: bold;
}

/* Container */
.container {
    width: 800px;
    margin: 0 auto;
}

.navbar, .maincontent, .defcard, li {
    display: flex;
}

/* Navigation Bar */
.navbar {
    align-items: center;
    justify-content: space-between;
    background-color: #cccccc;
    height: 100px;
    padding: 0 30px;
}

.largetext {
    font-size: 36px;
}

.searchbox {
    background-color: white;
    color: #cccccc;
    padding: 5px;
    text-align: left;
    width: 400px;
}

.loginbtn {
    background-color: #2b78e4;
    color: white;
}

/* Main Content */
.maincontent {
    align-items:flex-start;
    margin: 30px 0;
}

.col-2, .col-1 {
    margin: 10px;
}

.col-2 {
    flex: 2
}

.col-1 {
    flex: 1;
}

a, a:visited, a:active, a:hover {
    color: #175b98;
}

.defcard, .card, li {
    align-items: center;
    justify-content: center;
}

.defcard {
    margin: 0 30px 20px 0;
    padding: 10px 0;
}

ul, li {
    list-style-type: none;
}

.definition {
    padding: 30px 10px;
}

.partofspeech, .italic {
    font-style: italic;
}

.likebtn {
    background-color: #ffd966;
}

.addbtn {
    background-color: #93c47d;
}

.card {
    font-size: 24px;
    padding: 15px;
}

